* {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  box-sizing: border-box;
  font-family: "Trebuchet MS";
}

header {
  height: 28vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f30d19;
}

.container {
  columns: 5;
  padding: 0 50px;
}

.container .box {
  width: 100%;
  break-inside: avoid;
  padding: 8px 0; 
}

.container .box img {
  max-width: 100%;
  min-width: 100%;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

img:hover {
  opacity: 0.6;
}

.caption {
  color: #000;
  padding: 2px;
  font-size: large;
  text-align: center;
}

@media (max-width: 1427px) {
  .container {
    columns: 5;
  }
}
@media (max-width: 1200px) {
  .container {
    columns: 4;
  }
}

@media (max-width: 1000px) {
  .container {
    columns: 3;
  }
}

@media (max-width: 786px) {
  .container {
    columns: 2;
  }
}

@media (max-width: 480px) {
  .container {
    columns: 1;
  }
}
